@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
  background-color: rgb(18, 18, 18);
}
h1 {
  font-size: 2em;
  padding:5px 0; 
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: white;
  font-family: 'Oswald', sans-serif;
}

